
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>MetMatch</title>
  <!-- Favicon-->
  <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" /> -->
  <!-- Bootstrap Icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />
  <!-- SimpleLightbox plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/add-user.component.css" rel="stylesheet" />
</head>

<body id="page-top">
  <!-- Masthead-->
  <header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-8 align-self-end">
          <h1 class="text-white font-weight-bold">Your Favorite Place for Micro App Developers for Ayoba</h1>
          <hr class="divider" />
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 mb-5">MetMatch can help you build data Micro Apps using Bootstrap and Angular, browse
            through our list of Developers!</p>
          <!-- <a class="btn btn-primary btn-xl" href="#about">Find Out More</a> -->
        </div>
      </div>
    </div>
  </header>
  <!-- About-->
  <section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mt-0">We've got what you need!</h2>
          <hr class="divider divider-light" />
          <p class="text-white-75 mb-4">Are you a Micro App Developer but struggling to get a Job? Register on our app
            for Ayoba opprtunities and tutoring services to help others build better Micro Apps!
            <br>
            Vision.
            <br>
            Create economic opportunity for every member of the global workforce.
            <br>
            Mission.
            <br>
            The mission of MetMatch is simple: connect the world’s professionals to make them more productive and successful.</p>
          <a class="btn btn-light btn-xl" href="#register">Register</a>
        </div>
      </div>
    </div>
  </section>
  <!-- Services-->
  <section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
      <h2 class="text-center mt-0">At Your Service</h2>
      <hr class="divider" />
      <div  class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Job Opportunities</h3>
            <p class="text-muted mb-0">Register yourself for any Ayoba opportunities!</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Tutoring</h3>
            <p class="text-muted mb-0">Learn More about Ayoba Micro Apps.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Ready to Connect</h3>
            <p class="text-muted mb-0">Connect with one of the Developers to learn more about Ayoba Micro Apps !</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">
          <div class="mt-5">
            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
            <h3 class="h4 mb-2">Made with Love</h3>
            <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Portfolio-->
  <div id="portfolio">
    <div class="container-fluid p-0">
      <div  class="row">
        <div class="col-lg-4 col-sm-6" *ngFor="let picture of Picture.slice(0, 1), let i = index">
          <div class="profilePicture"  routerLink="/developer/{{name.id}}" >
          <a class="portfolio-box" href="{{name.url}}" title="{{name.name}}"  routerLink="/developer/{{name.id}}" >
            <img class="img-fluid" id="wendy" src="{{name.url}}" alt="user picture"  routerLink="/developer/{{name.id}}" />
            <div class="portfolio-box-caption"  routerLink="/developer/{{name.id}}" >
              <div class="project-category text-white-50"  routerLink="/developer/{{name.id}}" >{{name.title}}</div>
              <div class="project-name"  routerLink="/developer/{{name.id}}" >{{name.name}} {{name.surname}}</div>
            </div>
          </a>
          </div>
          <!-- <a class="carousel-control-prev" tabindex="0" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next" tabindex="0" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a> -->
        </div>
      </div>
    </div>
  </div>
  <!-- Contact-->
  <section class="page-section" id="register">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
          <h2 class="mt-0">Register!</h2>
          <hr class="divider" />
          <p class="text-muted mb-5">Ready to start your next Journey with us? Register with us!</p>
        </div>
      </div>
    </div>
      <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-6">
          <form id="contactForm" data-sb-form-api-token="API_TOKEN" onSubmit="return false">


            <!-- Username input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="username" name="username" type="text" placeholder="Enter your username..."
                data-sb-validations="required" [(ngModel)]="userDetails.username" />
              <label for="name">Username</label>
              <div class="invalid-feedback" data-sb-feedback="username:required">Username is required.</div>
            </div>

            <!-- Name input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name..."
                data-sb-validations="required" [(ngModel)]="userDetails.name" />
              <label for="name">Name</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>

            <!-- Surname input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="surname" name="surname" type="text" placeholder="Enter your surname..."
                data-sb-validations="required" [(ngModel)]="userDetails.surname" />
              <label for="name">Surname</label>
              <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>




            <!-- Email address input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com"
                data-sb-validations="required,email" [(ngModel)]="userDetails.email" />
              <label for="email">Email address</label>
              <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
              <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
            </div>
            <!-- Phone number input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="phone" name="number" type="tel" placeholder="(073) 456-7890"
                data-sb-validations="required" [(ngModel)]="userDetails.phone" />
              <label for="phone">Phone number</label>
              <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
            </div>

            <!-- Age input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="age" name="age" type="number" placeholder="Age"
                data-sb-validations="required" [(ngModel)]="userDetails.age" />
              <label for="age">Age</label>
              <div class="invalid-feedback" data-sb-feedback="age:required">Age is required.</div>
            </div>

            <!-- Address input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="address" name="address" type="text" placeholder="Enter your address"
                data-sb-validations="required" [(ngModel)]="userDetails.address" />
              <label for="address">Address</label>
              <div class="invalid-feedback" data-sb-feedback="address:required">Address is required.</div>
            </div>

            <!-- Git input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="git" name="git" type="text" placeholder="Enter your git link"
                data-sb-validations="required" [(ngModel)]="userDetails.git" />
              <label for="git">GitHub Link e.g https://github.com/gordie825</label>
              <div class="invalid-feedback" data-sb-feedback="git:required">Git is required.</div>
            </div>

            <!-- Facebook input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="facebook" name="facebook" type="text"
                placeholder="Enter your facebook link" data-sb-validations="required"
                [(ngModel)]="userDetails.facebook" />
              <label for="facebook">Facebook e.g https://www.facebook.com/sibabalo.c...</label>
              <div class="invalid-feedback" data-sb-feedback="facebook:required">Facebook is required.</div>
            </div>

            <!-- Password input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="password" name="password" type="password" data-sb-validations="required"
                [(ngModel)]="userDetails.password" />
              <label for="password">Password</label>
              <div class="invalid-feedback" data-sb-feedback="password:required">A password is required.</div>
            </div>

            <!-- Title input-->
            <div class="form-floating mb-3">
              <input class="form-control" id="title" name="title" type="text" placeholder="Enter your title..."
                data-sb-validations="required" [(ngModel)]="userDetails.title" />
              <label for="name">Title e.g Software Developer</label>
              <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
            </div>


            <!-- Admin input-->
            <div class="form-floating mb-3" *ngIf='adminBoolean'>
              <input class="form-control "id="admin"  name="admin" type="text" placeholder="Admin Or Not..."
                [(ngModel)]="userDetails.admin" />
              <label for="admin">Admin True or False</label>
            </div>



            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
              <div class="text-center mb-3">
                <div class="fw-bolder">Form submission successful!</div>
                To activate this form, sign up at
                <br />
                <a
                  href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
              </div>
            </div>
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <!-- Submit Button-->
            <div class="d-grid"><button class="btn btn-primary btn-xl " id="submitButton" type="submit"
                (click)="addUser()">Register</button></div>
            <div class="d-none" id="submitErrorMessage">
              <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <div class="col-lg-20 col-xl-12 text-center">
              <hr class="divider" />
              <p class="text-muted mb-50">Already have account? Plaese Log in!</p>
              <div class="d-grid"><a href=""></a><button class="btn btn-primary btn-xl " id="submitButton" type="submit" routerLink='/login'>Log
                  In</button></div>
        </div>
          </form>
      </div>
    </div>
  </section>
  <!-- Footer-->
  <footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
      <div class="small text-center text-muted">Copyright &copy; 2021 - Expressers</div>
    </div>
  </footer>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- SimpleLightbox plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>

<app-root></app-root>

<router-outlet></router-outlet>


